registry=https://npm-pull.hudltools.com/
# Explicitly declare this scope so any higher-up .npmrc files don't set this to GitHub Packages
@hudl:registry=https://npm-pull.hudltools.com/
hoist=false
# Keeps the default public-hoist-patterns from pnpm v9. See https://github.com/pnpm/pnpm/issues/8378
public-hoist-pattern[]=*prettier*
